@import '../../styles/partials/abstracts/mixins';
@import '../../styles/partials/base/colors';


.main {
    @include tablet {
        display: flex;
        flex-direction: row;
    }
}

.video{

    &__main {
        width: 100%;
        background-color: $mercury;
    }

    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        padding: 1rem;
    }

    &__info {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        border-top: 1px solid $mercury;

        @include tablet {
            flex-direction: row;
        }
    }

    &__author {
        display: flex;
        flex-direction: column;
        width: 50%;
        row-gap: 1rem;

        @include tablet {
            flex-direction: row;
            column-gap: 1rem;
        }
    }

    &__engagement {
        display: flex;
        flex-direction: column;
        row-gap: 1rem;

        @include tablet {
            flex-direction: row;
            column-gap: 1rem;
        }
    }

    &__view {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        color: $silver;
    }

    &__likes {
        display: flex;
        flex-direction: row;
        column-gap: 1rem;
        color: $silver;
    }

    &__description {
        border-top: 1px solid $mercury;
        padding: 1rem;
    }

    &__title {
        padding: 1rem;
    }
    
}
