@import "../../styles/partials/abstracts/mixins";
@import "../../styles/partials/base/colors.scss";


.upload {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    width: 100%;
    margin: 0;
    border-top: 2px solid $mercury;
    

    &__form {
        display: flex;
        flex-direction: column;
        width: 100%;
        row-gap: 1rem;
    }

    &__input {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__inputField {
        height: 100px;
        border-radius: 4px; 
        width: 100%;
        background-color: #FAFAFA;
        color: #323232;
        border: 1px solid #e1e1e1;
        outline: none;
        padding: 1rem 0rem 100px .5rem;
        margin-bottom: .5rem;
        line-height: 1.2;
    }

    &__inputField::placeholder {
        color: $black;
    }

    &__cancel {
        color: $blue;
        text-transform: uppercase;
        text-align: center;
        margin-top: 1rem;
    }

    &__img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        background-color: $mercury;
        aspect-ratio: 16/9;

        @include tablet {
            width: 50%;
        }
    }

    &__imgContainer {
        display: flex;
        flex-direction: column;
    }

    &__header {
        padding: 1rem 0 0 0;
    }

    &__btn {
        position: relative;
        display: flex;
        justify-content: center;
        width: 100%;
        flex-grow: 1;

        @include tablet {
            order: 2;
            width: 20%;
            flex-grow: 0;
        }
    }

    &__icon {
        position: absolute;
        left: 0;
        padding-left: 0.75rem;
    }

    &__cta {
        @include tablet {
        display: flex;
        flex-direction: row;
        column-gap: 6rem;
        justify-content: flex-end;
        border-top: 2px solid $mercury;
        padding: 1.5rem 0 1.5rem 0;
        }
    }
}

.inputField {
    &__title {
     
        @include tablet {
            height: 50px;
            padding: 0 0 0 .5rem;
        }
    }

    &__description {
        @include tablet {
            height: 75px;
            padding: 1.5em 0 75px .5rem;
        }
    }
}