@use '../base/colors.scss' as *;

*{
    font-family: Avenir;
    box-sizing: border-box;
}
$light: 300;
$normal: 400;
$semibold: 500;
$bold: 600;
$extra-bold: 700;


@font-face {
    font-family: 'Avenir';
    src: url("../../../assets/font/AvenirNextLTPro-Regular.otf") format("otf");
    // src: url("../../assets/font/AvenirNextLTPro-Demi.otf") format("otf");
    src: url("../../../assets/font/AvenirNextLTPro-Bold.otf") format("otf");
}

@mixin small-typography {
    @media (min-width: $mobile-width){
        @content;
        
        h1, h2, h3, h4, h5, h6, p{
            margin: 0;
        }
        
        h1{
            font-size: 24px;
            line-height: 32px; 
            font-weight: $extra-bold;
            margin: 0;
        }

        h2 {
            font-size: 12px;
            line-height: 20px; 
            font-weight: $extra-bold;
            margin: 0;
        }
        
        h3 {
            font-size: 13px;
            line-height: 18px; 
            font-weight: $extra-bold;
            margin: 0;
        }
        
        p {
            font-size: 13px;
            line-height: 18px;
            font-weight: $normal;
            color: $black;
        }

        .btn {
            font-size: 10px;
            line-height: 20px;
            font-weight: $extra-bold;
            background-color: $blue;
          }
    }   
}

@mixin large-typography {
    @media (min-width: $tablet-width) {
        @content;
        
        h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

        h1 {
            font-size: 33px;
            line-height: 44px;
            font-weight: $extra-bold;
        }

        h2 {
            font-size: 12px;
            line-height: 20px; 
            font-weight:  $extra-bold;
        }

        h3 {
            font-size: 14px;
            line-height: 22px; 
            font-weight: $extra-bold;
        }

        p {
            font-size: 14px;
            line-height: 22px;
            font-weight: $normal;
        }

        .btn {
            font-size: 12px;
            line-height: 20px;
            font-weight: $extra-bold;
            background-color: $blue;
          }
    }
}
