@use "../../styles/partials/base/colors.scss" as *;
@use "../../styles/partials/abstracts/mixins.scss" as *;

.video {
  &__main {
    width: 100%;
    aspect-ratio: 2 / 1;
    background-color: $darkBlack;
    object-fit: cover;

    @include tablet {
      padding: 0 2rem;
    }
  }
}
