@use '../../styles/partials/base/colors.scss' as *;

.video {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 1rem;
    width: 100%;

    &__imageContainer {
        width: 125px;
        height: 75px;
        object-fit: contain;
    }

    &__image {
        width: 125px;
        height: 75px;
        border-radius: 10px;
        // object-fit: cover;
    }

    &__header {
        margin: 0;
        text-overflow: ellipsis;
    }
}
